#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

-include /usr/share/dpkg/buildflags.mk

INSTALLDIR = $(CURDIR)/debian/tmp

_prefix = /usr
_datadir = $(_prefix)/share
_docdir = $(_datadir)/doc

configure: configure-stamp

configure-stamp:
	touch $@

build: build-indep build-arch

build-indep: build-stamp

build-arch: build-stamp

clean:

build-stamp: configure-stamp
	mkdir man 
	pod2man --section=1 bin/pakiti-client > man/pakiti-client.1
	touch $@


install: build-stamp
	mv bin/pakiti-client  $(INSTALLDIR)/usr/bin/pakiti-client
	mv man/pakiti-client.1 $(INSTALLDIR)/usr/man1/pakiti-client.1

binary-indep:

binary-arch: install

binary: binary-indep binary-arch

VERSION=3.0.1
VERSTAG=1_0_1

.Phony: binary binary-arch binary-indep build build-arch build-indep clean configure install
